<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Database.LikeMapper">
	<select id="check" parameterType="LikeDTO" resultType="LikeDTO">
		SELECT * FROM like_table WHERE b_idx = #{b_idx} AND user_id = #{user_id}
	</select>

	<delete id="delete" parameterType="LikeDTO">
		DELETE FROM like_table WHERE b_idx = #{b_idx} AND user_id = #{user_id}
	</delete>

	<insert id="insert" parameterType="LikeDTO">
		INSERT INTO like_table
		(like_idx, b_idx, user_id, liked_at) VALUES
		(like_table_seq.nextval,#{b_idx}, #{user_id}, sysdate)
	</insert>

	<!-- 관리자삭제기능으로 Like테이블에 FK로 연결된 관련 user_id삭제 -->
	<delete id="DeleteLikeTable" parameterType="UserDTO"> 
		delete from like_table where user_id=#{user_id} </delete>
	<delete id="deleteLikeB_idx" parameterType="BoardDTO"> 
		delete from like_table where b_idx=#{b_idx} </delete>
		
	<select id="selectLikeBoard" parameterType="UserDTO" resultType="LikeDTO">
		select * from like_table where user_id=#{user_id}
	</select>
</mapper>